{% extends "base.html" %}

{% block head_title %}Bluesky{% endblock %}

{% block html_head_extra -%}
  <meta property="og:title" content="Northsky" />
  <meta name="twitter:title" content="Northsky" />

  <meta name="description" content="We're creating a safer social media experience for 2SLGBTQIA+ people, powered by ATProtocol, and operating as a nonprofit worker-owned cooperative." />
  <meta name="og:description" content="We're creating a safer social media experience for 2SLGBTQIA+ people, powered by ATProtocol, and operating as a nonprofit worker-owned cooperative." />
  <meta name="twitter:description" content="We're creating a safer social media experience for 2SLGBTQIA+ people, powered by ATProtocol, and operating as a nonprofit worker-owned cooperative." />

  <meta property="og:url" content="https://northsky.app" />
  <meta name="twitter:url" content="https://northsky.app" />

  <meta property="og:image" content="https://northsky.app/static/social-card-default-gradient.png" />
  <meta property="twitter:image" content="https://northsky.app/static/social-card-default-gradient.png"  />

  <meta name="twitter:site" content="@bluesky" />
  <meta name="twitter:card" content="summary_large_image" />
{%- endblock %}

{% block noscript_extra %}
<p>This is the home page.
{% endblock %}
